html {
    min-height: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
}

label::selection {
    background-color: rgba(0,0,0,0.2);
}


header {
    padding: 20px 50px;
}
h1 {
    margin: 0;
}

main {
    margin: 0 100px;
}

h2 {
    margin: 0 0 5px 0;
}

.selection {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.selection label {
    cursor: pointer;
    display: inline-block;
    width: 120px;
    margin: 2px;
    position: relative;
}

.selection label * {
    cursor: pointer;
}

.selection label>div {
    display: block;
    height: 180px;
    background-size: cover;
    background-position: center;
    margin: 0;
}
.selection label:nth-of-type(1)>div {
    background-image: url("BillieEilish.webp");
}
.selection label:nth-of-type(2)>div {
    background-image: url("ChristianBB.png");
}
.selection label:nth-of-type(3)>div {
    background-image: url("notimetodie.jpg");
}
.selection label:nth-of-type(4)>div {
    background-image: url("SannhetenOmR%C3%B8dhette.jpg");
}
input[name="film"] {
    position: absolute;
    top: 0;
    left: 0;
}


#accessories>label, 
#accessories>label * {
    cursor: pointer;
}



ul {
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}


.totalPrice {
    margin-top: 1em;
}

#btnOrder {
    min-width: 150px;
    width: 50%;
    border: none;
    background-image: linear-gradient(120deg, #bbb, #ddd, #bbb);
    background-size: 200%;
    background-position: left;
    transition: background-position .5s;
    padding: 15px;
    margin: 0;
    border-radius: 10px;
    color: #999;
    font-size: 20px;
    
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
#btnOrder.btnReady {
    background-image: linear-gradient(120deg, #2E2930, #836364, #2E2930);
    color: white;
    cursor: pointer;
}
#btnOrder.btnReady:hover {
    background-position: right;
    box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}



/*
----------------------------------------------------------------------------
----------------------------------Grid--------------------------------------
----------------------------------------------------------------------------
*/

#gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    justify-content: center;
    align-content: center;
    grid-gap: 5px;
    padding: 2px;
    border-radius: 10px;
    
    background-color: #ddd;
}

#gridContainer>div {
    border-radius: 10px;
    padding: 10px;
}

#films {
    grid-area: 1 / 1 / 2/ 2;
}
#seatsContainer {
    grid-area: 2 / 1 / 3/ 2;
}
#accessories {
    grid-area: 3 / 1 / 4 / 2;
}

#gridLeft {
    grid-area: 1 / 2 / 4 / 3;
}

#orderContainer {
    grid-area: 1 / 2 / 3 / 3;
}
#btnContainer {
    grid-area: 3 / 2 / 4 / 3;
    position: relative;
}

#gridContainer>* {
    background-color: #eee;
}


/*
----------------------------------------------------------------------------
------------------------------------Seats-----------------------------------
----------------------------------------------------------------------------
*/

#cinema {
    background-color: black;
    padding: 0 15px 15px 15px;
    border-radius: 10px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

#screen {
    background-color: white;
    color: black;
    width: 200px;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    border-radius: 5px;
    margin: 5px 0;
    font-weight: bold;
}

#seats {
    display: grid;
    grid-gap: 2px;
    grid-template-rows: repeat(10, auto);
    grid-template-columns: repeat(20, auto);
    justify-content: center;
    align-content: center;
}

.seat {
    height: 20px;
    width: 20px;
    background-color: #e22;
    display: inline-block;
    margin: 0;
    border-radius: 6px 6px 3px 3px;
    box-sizing: border-box;
    border-bottom: 5px solid #a00;
    border-left: 2px solid #a00;
    border-right: 2px solid #a00;
    box-shadow: 0 0 5px 0 rgba(255,255,255,0.2);
    cursor: pointer;
}

.seat:hover {
    background-color: #cc3;
}

.seatSelected {
    background-color: #ff0;
    border-color: #cc3;
}

.seatTaken,
.seatTaken:hover {
    background-color: #800;
    border-color: #600;
    cursor: default;
}


